body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
nav a {
  color: #474744;
  text-decoration: none;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
.nav-title {
  font-size: 45px;
  color: black;
  font-weight: 800;
}

.primaryColor {
  color: #fd6e0a;
}
